// inline-block align-bottom bg-blue-900 rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full
// Path: src\components\Modal.module.scss
.modal {
  display: inline-block;
  vertical-align: bottom;
  background-color: #2d3748;
  border-radius: 0.5rem;
  text-align: left;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  transform: translate3d(0, 0, 0);
  transition: all 0.25s ease-out;

  // bg-blue-900  px-4 pt-5 pb-4 sm:p-6 sm:pb-4
  &.modal-content {
    background-color: #2d3748;
    padding: 1rem 1.5rem 1.25rem;
  }


}   

@media (min-width: 640px) {
  .modal {
    margin-top: 2rem;
    vertical-align: middle;
    max-width: 40rem;
    width: 100%;
  }

}

